![Auto Assign](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/auto-assign.yml/badge.svg)

![Proof HTML](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/proof-html.yml/badge.svg)

[![Dependency Review](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/dependency-review.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/dependency-review.yml)

[![Deploy Jekyll with GitHub Pages dependencies preinstalled](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/jekyll-gh-pages.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/jekyll-gh-pages.yml)

[![Semantic Release](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/release-main.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/release-main.yml)

[![Update Changelog 🎉](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/update-changelog.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/update-changelog.yml)

[![Weather Cronjob](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/update-weather.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/update-weather.yml)

## Today's Weather
<div align="center">
{{ with $todayWeather := index .Weathers 0 }}

`{{ $todayWeather.City }}, {{$todayWeather.Country }} - {{ formatDate $todayWeather.StartTime $todayWeather.Timezone }}`

<img src="{{ $todayWeather.Icon}}"/>

{{ $todayWeather.Condition }}

</div>

{{template "hourly-table" $todayWeather.HourlyWeathers}}

{{- end }}

## Weather For Next {{ len .Weathers }} days

{{template "daily-table" .Weathers}}

*Updated at: {{formatTime .UpdatedAt}}*
{{template "daily-table" .Weathers}}

*Updated at: {{formatTime .UpdatedAt}}*

![Alt](https://repobeats.axiom.co/api/embed/7d451ae2cdef1648d2e14e5cc714356b2ebae209.svg "Repobeats analytics image")
