![Auto Assign](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/auto-assign.yml/badge.svg)

![Proof HTML](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/proof-html.yml/badge.svg)

[![Dependency Review](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/dependency-review.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/dependency-review.yml)

[![Deploy Jekyll with GitHub Pages dependencies preinstalled](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/jekyll-gh-pages.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/jekyll-gh-pages.yml)

[![Semantic Release](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/release-main.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/release-main.yml)

[![Update Changelog 🎉](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/update-changelog.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/update-changelog.yml)

[![Weather Cronjob](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/update-weather.yml/badge.svg)](https://github.com/Fatal1tyBarucco/demo-repository/actions/workflows/update-weather.yml)

## Today's Weather
<div align="center">

`{{ $.TodayWeather.City }}, {{$.TodayWeather.Country }} - {{ formatDate $.TodayWeather.StartTime $.TodayWeather.Timezone }}`

<img src="{{ $.TodayWeather.Icon}}"/>

{{ $.TodayWeather.Condition }}

</div>

{{template "hourly-table" $.TodayWeather.HourlyWeathers}}

## Weather For Next {{ len .Weathers }} days

{{template "daily-table" .Weathers}}

*Updated at: {{formatTime .UpdatedAt}}*
